$font-barlow: "barlow", sans-serif;
$font-roboto: "Roboto Condensed", sans-serif;
$white:#fff;
$black:#000;
$grey:darkgrey;
$coral:#FF7F50; 
$blue:blue;
$purpureo:#382983;
$beige:#fbfbfb;

/*Breackpoints*/
$mediaDesktop-1200: 1200px;
$mediaPhones-576: 576px;